# handle creating, activating and deactivating a python virtualenv
layout python

# read from .vars file to load env vars. this file ix excluded from github to keep secrets secrets
# see the contents of .vars.example for a list of expected content for the .vars file
source .vars
